@import "../../styles.scss";

.content-cards{
    display: flex;
    justify-content: center;
}

.title{
    display: flex;
    justify-content: center;
    font-family: "Meta", sans-serif;
    color: $title;
    font-size: 18px;
    font-weight: bold;
    padding-top: 30px;
}

.subtitle{
    display: flex;
    justify-content: center;
    color: #f40468;
}

.progress-card{
    padding: 2% 2% 4% 2%;
    margin: 20px;
    width: 200px;
    float: left;
    text-align: center;
    border-radius: 15px;
    overflow: hidden;
    margin-bottom: 16px;
    border-radius: 20px;
    padding: 15px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);  
    background: linear-gradient(
      35deg,
      #ccffff,
      #ffcccc);
}

h1{
    transition: all 0.5s;
    -webkit-text-stroke: 5px #d6f4f4;
    font-variation-settings: "wght" 100, "ital" 1;
    font-size: 4rem;
    text-align: center;
    color: transparent;
    font-family: "Meta", sans-serif;
    text-shadow: 10px 10px 6px #07bccc,
      15px 15px 0px #e601c0,
      20px 20px 8px #e9019a,
      25px 25px 8px #f40468,
      45px 45px 10px #482896;
    cursor: pointer;
    margin-bottom: 15px;
}

