@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto+Mono:wght@300&display=swap");
body {
  font-family: "Montserrat", sans-serif;
}

.content {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

.footer {
  background-image: linear-gradient(to right, #9c0048, #375252);
  padding: 30px;
  display: flex;
  flex-direction: column;
  background-color: #001a3b;
  color: white;
}

#footer__community a {
  color: white;
  flex-direction: row-reverse;
  justify-content: flex-end;
}
#footer__community a:hover {
  opacity: 0.60;
}

.section1 {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 30px 0 0 0;
}

.social img {
  width: 30px;
  height: 30px;
  padding: 8px;
}

.social img:hover{
  font-size: 20px;
  transform: scale(1.3);
}

.right {
  display: flex;
  justify-content: center;
  padding: 30px 0 0 0;
  opacity: 0.60;
}

@media (max-width: 320px) {
  .footer {
    justify-content: center;
    align-items: center;
  }
  .section1 {
    display: inline-block;
  }

}
