@import "../../styles.scss";

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 8px;
  background-image: $gradient-nav;
  box-shadow: 0 3px 15px;

  .logo {
    width: 80px;
  }
}