@import "../../styles.scss";

@font-face {
  font-family: 'Regular';
  font-style: bold;
  font-weight: 700;
  src: url(../../assets/fonts/Roboto-Regular.ttf) format('woff2');
}

footer {
  margin: 0;
  border: 0;
  display: flex;
  flex-direction: column;
  font-size: 100%;
  font: inherit;
  font-family: ("Regular", sans-serif);
  background-image: $gradient-nav;
  padding: 30px;
  color: $primary;

  .section {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 30px 0 0 0;

    a {
      color: $primary;

      &:hover {
        opacity: 0.60;
      }
    }
  }

  .social img {
    width: 30px;
    height: 30px;
    padding: 8px;
  
    &:hover {
      font-size: 20px;
      transform: scale(1.3);
    }
  }

  .right {
    display: flex;
    justify-content: center;
    padding: 30px 0 0 0;
    opacity: 0.60;
  }
}

@media (max-width: 320px) {
  .footer {
    justify-content: center;
    align-items: center;

    .section {
      display: inline-block;
    }
  }
}