// Header and Footer colors
$gradient-nav: linear-gradient(to right, #9c0048, #375252);

// Colors
$primary: white;
$second:#001a3b;
$title: #482896;
$subtitle: #f40468;


//Font
$family: "Meta", sans-serif;

